.container {
  display: flex;
  flex-wrap: wrap;
  padding: 200px;
}

.M__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: 500px;
  background-color: antiquewhite;
  padding: 20px;
  border: 2px solid white;
  border-radius: 10px;
}

.summary {
  overflow: hidden;
  text-overflow: ellipsis;
}
